*,
*:before,
*:after {
  box-sizing: border-box;
}

li,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.gallery {
  display: flex;
}

.gallery-albums {
  padding: 10px;
  width: 50vw;
  background-color: rgb(233, 233, 233);
}

.album { 
  padding: 15px;
  text-transform: capitalize;
  opacity: 0.6;
}

.album:hover {
  opacity: 1;
}

.album-photo {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  width: 50vw;
  background-color: rgb(243, 221, 226);
}

.active {
  color: rgb(190, 110, 129);
  opacity: 1;
}